/*  your css code here. If applicable */
.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}